.song_Row {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.songRow_info > h1 {
  margin-left: 10px;
  font-size: 16px;
}

.songRow_info > p {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 3px;
  color: gray;
}

.songRow_album {
  height: 40px;
  width: 40px;
}
